.div-login {
    text-align: center;
    margin-top: 5%;
}

.lbl-login {
    font-size: 14px;
    border-bottom: 1px solid;
}

.registerForm {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
}