body,
html,
#root,
.app,
.container {
    width: 100%;
    height: 100%;
}

.app-content,
.container-content {
    width: 100%;
    height: 100%;
}

.container-content {
    font-size: 28px;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.container {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
}

.loginForm {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5%;
}

.inputField {
    padding-top: 16px;
}

.input {
    box-sizing: border-box;
    outline: none;
    border: solid 2px #1189de;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding: 12px;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
}

.submmitButton {
    padding-top: 16px;
    text-align: center;
}

.btn {
    width: 220px;
    color: #565656;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    border: solid 2px #1189de;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    padding-top: 16px;
}

.div-logo-login {
    height: 30%;
    width: 70%;
    margin-left: 15%;
}

.img-logo-login {
    height: 100%;
    width: 100%;
}

.div-lbl-login {
    margin-top: 10%;
}

.rc-loading-mask {
    background-color: #282c34;
}
