html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}

.Sidebar {
    height: 100%;
    width: 100%;
    background-color: #2f4050;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.div-logo {
    height: 18%;
    width: 100%;
}

.img-logo {
    height: 100%;
    width: 100%;
}

.SidebarList .row {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarList .row:hover {
    cursor: pointer;
    background-color: #293846;
}

.SidebarList #active {
    background-color: #293846;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
    padding-left: 5%;
    width: 100%;
    height: 100%;
}

.div-nav-bar {
    height: 100%;
}

.div-link {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

.linkRouter {
    color: #ffffff;
    text-decoration: none;
}
