.cke_inner.cke_reset {
  height: 85%;
}

#cke_editor1 {
  height: 100%;
}

#cke_1_contents {
  height: 97% !important;
}

.div-container {
  width: 100%;
  height: 100%;
  background-color: #ced3d7;
  padding-top: 2%;
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
}

.div-email {
  flex: 5;
  background-color: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  padding: 2%;
  height: 90%;
}

.subject {
  margin-bottom: 2%;
}

.div-input-subject {
  margin-top: 1%;
}

.formEmail {
  margin-top: 3%;
  height: 100%;
}

.cke_contents {
  height: none !important;
  min-height: 300px !important;
}

.form-email {
  height: 100%;
}

.inputSubject {
  display: inline-block;
  width: 100%;
  min-height: 2rem;
  border: 1px solid #bcbcbc;
  border-radius: 0.15rem;
  color: var(--textColor);
  font-size: 1rem;
  line-height: 1.4rem;
  background-color: #fff;
  background-image: none;
  padding: 0.25rem 0.65rem;
  margin: 0;
  outline: 0;
  opacity: 1;
  transition: all 0.3s, height 0s;
}

.form-user {
  flex: 3;
  background-color: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  padding: 2%;
  height: 90%;
  margin-left: 1%;
}

.div-input-to-email {
  margin-top: 2%;
  display: flex;
}

.div-from-name {
  margin-top: 5%;
}

.div-input-from-name {
  margin-top: 2%;
}

.div-from-email {
  margin-top: 5%;
}

.div-input-from-email {
  margin-top: 2%;
}

.div-btn-send-email {
  margin-top: 5%;
  width: 100%;
  text-align: center;
}

.btn-send-email {
  width: 50%;
  height: 40px;
  background-color: #2f4050;
  color: #ffff;
  border-radius: 4px;
}

.div-formEmail {
  height: 85%;
}

.div-date-piker {
  margin-top: 2%;
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  display: inline-block;
  width: 100%;
  min-height: 2rem;
  border: 1px solid #bcbcbc;
  border-radius: 0.15rem;
  color: var(--textColor);
  font-size: 1rem;
  line-height: 1.4rem;
  background-color: #fff;
  background-image: none;
  padding: 0.25rem 0.65rem;
  margin: 0;
  outline: 0;
  opacity: 1;
  transition: all 0.3s, height 0s;
}

.div-label-to-email {
  margin-top: 5%;
}

.div-inside-to-email-1 {
  flex: 5;
}

.div-inside-to-email-2 {
  flex: 1;
}

.btn-choose-from-file {
  height: 100%;
  width: 100%;
  margin-left: 2%;
}

.modal-choose-file {
  height: 25%;
  width: 23%;
  margin-left: 35%;
  background-color: #ffff;
  margin-top: 15%;
  border: 2px solid #aec6d5;
  -webkit-box-shadow: 0px 0px 10px #bcbcbc;
  -moz-box-shadow: 0px 0px 10px #bcbcbc;
  border-radius: 4px;
}

.div-header {
  height: 50px;
  padding: 15px;
  border-bottom: 1px solid #bcbcbc;
}

.div-choose-file {
  width: 100%;
  display: flex;
  padding-top: 5%;
  padding-left: 15px;
  padding-right: 15px;
}

.div-choose-file-in-1 {
  flex: 1;
  padding: 2px;
}

.div-choose-file-in-2 {
  flex: 5;
  padding-left: 5%;
}

.input-file {
  padding: 2px;
}

.div-footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100%;
  padding: 1%;
}

.modal-choose-file-content {
  position: relative;
  height: 100%;
}

.btn-close-modal-choose-file {
  height: 100%;
  width: 40%;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #bae3fd;
  background-color: #bae3fd;
}

.ic-close {
  position: absolute;
  right: 2%;
  top: 5%;
  font-size: 18px;
  color: grey;
}
