.div-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.div-vertical-1 {
    flex: 2;
    transition: width 2s;
    height: 100%;
}

.div-vertical-1:hover {
    width: 800px;
}

.div-vertical-2 {
    flex: 10;
}

.div-lbl-welcome {
    background-color: #ced3d7;
    padding-top: 1%;
    padding-left: 2%;
}

.lbl-welcome {
    font-size: 30px;
    color: #2f4050;
}
